##
## --------------------------------------------------------------------------
##  Licensed under the MIT License. See LICENSE file in the project root for
##  license information.
##  Copyright (c) Microsoft Corporation.
## --------------------------------------------------------------------------
##
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies: [flake8]
  - repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
      - id: licenseheaders
        args: ['-t', '.mit-license.tmpl', '-E', '.py', '-f']
