repos:
  # Formatters first:
  - repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
      - id: licenseheaders
        args: ['-t', '.mit-license.tmpl', '-E', '.py', '-f']
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: isort (python)
  # https://black.readthedocs.io/en/stable/integrations/source_version_control.html
  # Using this mirror lets us use mypyc-compiled black, which is about 2x faster
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.8.0
    hooks:
      - id: black
        # It is recommended to specify the latest version of Python
        # supported by your project here, or alternatively use
        # pre-commit's default_language_version, see
        # https://pre-commit.com/#top_level-default_language_version
        language_version: python3.10
  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.7.3
    hooks:
      - id: pydocstringformatter
  # Now linters:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v1.2.3
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies: [flake8]
# TODO:
#  - repo: https://github.com/pylint-dev/pylint
#    rev: v3.2.7
#    hooks:
#      - id: pylint
#        args:
#          [
#            "-rn", # Only display messages
#            "-sn", # Don't display the score
#          ]
#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: v1.11.2
#    hooks:
#    -   id: mypy
  - repo: https://github.com/johann-petrak/licenseheaders
    rev: v0.8.8
    hooks:
      - id: licenseheaders
        args: ['-t', '.mit-license.tmpl', '-E', '.py', '-f']